<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; GeoLocatorApp 2021 | made by <a href="https://www.marcolorenzetti.dev">Marco Lorenzetti</a></span>
    </div>
</footer>